body {
	@include media('>=tablet') {
	}

	@include media('>=desktop') {
	}
}


.wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}


.intro {
	padding-top: 70px;

	@include media('>=tablet') {
		padding-top: 130px;
	}

	.intro-box {
		padding: 150px 0;
		text-align: center;
		@include media('>=tablet') {
			padding: 250px 0;
		}

		.intro-text {
			font-size: 28px;
			@include media('>=tablet') {
				font-size: 33px;
			}

			@include media('>=desktop') {
				font-size: $h1-font-size;
			}

			span {
				line-height: 1.78;
				color: $white;
				font-weight: lighter;
				background-color: rgba($dark-gray, 0.75);
				padding: 5px;
				box-decoration-break: clone;

				@include media('>=tablet') {
					padding: 4px 15px;
				}
			}
		}
	}
}

.section {
	padding: 50px 0;
	@include media('>=tablet') {
		padding: 70px 0;
	}
	@include media('>=desktop') {
		padding: 80px 0;
	}

	.section-title {
		font-size: 24px;
		position: relative;
		margin-bottom: 40px;
		font-weight: lighter;
		padding-bottom: 10px;

		@include media('>=tablet') {
			font-size: $h2-font-size;
		}

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 45px;
			height: 2px;
			background-color: $white;
		}
	}
}

.section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;

	.section-title {
		margin-bottom: 0;
	}

	i {
		font-size: 30px;
	}


	.menu-opener-section {
		display: inline-block;
		vertical-align: top;
		width: 40px;
		height: 40px;
		background: $gray;
		position: relative;
		border-radius: 3px;
		transition: background .3s ease-in-out;

		@include media('>=tablet') {
			display: none;
		}

		span,
		&::before,
		&::after {
			background-color: $white;
			border-radius: 4px;
			position: absolute;
			top: 50%;
			left: 25%;
			right: 25%;
			height: 3px;
			margin-top: -2px;
			transition: all .3s ease-in-out;
		}

		&::before,
		&::after {
			content: '';
			top: 30%;
		}

		&::after {
			top: 70%;
		}

		&:hover {
			background-color: darken($gray, 10%);
		}
	}
}

.mobile-menu-section-active {
	.menu-opener-section {
		span {
			opacity: 0;
		}
		&::before,
		&::after {
			transform: rotate(45deg);
			top: 50%;
			left: 15%;
			right: 15%;
		}

		&::after {
			transform: rotate(-45deg);
		}
	}

	.menu-section {
		opacity: 1;
		visibility: visible;
		top: 100%;
	}
}

.menu-section {
	@extend %listreset;
	position: absolute;
	top: 70%;
	right: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s ease, visibility .3s ease, transform .3s ease-in-out, top .2s ease-out;
	background-color: $dark-gray;
	z-index: 1;

	@include media('>=tablet') {
		opacity: 1;
		top: 100%;
		visibility: visible;
		display: flex;
		position: static;
		background-color: transparent;
	}

	li {
		a {
			color: $white;
			font-weight: bold;
			text-decoration: none;
			display: block;
			padding: 10px;
			background-color: $gray;
			margin-bottom: 1px;
			text-transform: uppercase;
			transition: color .3s linear, border-color .35s linear, background-color .3s ease-in-out;
			@include media('>=tablet') {
				padding: 10px 15px 8px;
				border: 2px solid transparent;
				background-color: transparent;
				color: $gray;
			}

			&:hover {
				background-color: $blue;
				@include media('>=tablet') {
					background-color: transparent;
					//border: 2px solid $blue;
					color: $blue;
				}
			}
		}

		.active {
			color: $white;
			background-color: $blue;
			@include media('>=tablet') {
				background-color: transparent;
				border: 2px solid $blue;
				color: $blue;
			}
		}
	}
}

.section-services {
	background-color: $blue;
	padding: 50px 0 30px;
	@include media('>=tablet') {
		padding: 70px 0 50px;
	}
	@include media('>=desktop') {
		padding: 80px 0;
	}

	.grid {
		margin: 0 -20px;

		[class*="col-"] {
			padding: 0 20px;
		}
	}
}

.section-portfolio,
.section-cite {
	color: $gray;
	.section-title {
		&::before {
			background-color: $dark-gray;
		}
	}
}

.section-portfolio {

	.section-header-holder {
		position: relative;

		.container {
			@include media('>=tablet') {
				display: flex;
				justify-content: space-between;
				flex-direction: row;
			}
		}
	}


	.portfolio-wrapper {
		position: relative;

	}


}

.section-video {
	background-color: $gray;
	.responsive-embed {
		position: relative;

		&::before {
			content: '';
			display: block;
			padding-top: 56.25%;
		}
	}
	.embed-item {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}



	p {
		margin-bottom: 20px;
		@include media('>=tablet') {
			margin-bottom: 25px;
		}
		@include media('>=desktop') {
			margin-bottom: 35px;
		}
	}

	.btn {
		width: 100%;
		margin-bottom: 20px;
		@include media('>=tablet') {
			width: auto;
			margin-bottom: 0;
		}
	}

	.btn-outline-primary {
		&:hover {
			border-color: $white;
		}
	}
}

.section-twitter {
	background-color: $blue;

	.twitter-box {
		p {
			font-weight: lighter;
			font-size: 24px;
			@include media('>=tablet') {
				font-size: 28px;
			}

			a {
				color: $white;
				font-weight: bold;
			}
		}
	}
}

.section-about {
	p {
		margin-bottom: 25px;
		@include media('>=tablet') {
			margin-bottom: 30px;
		}
		@include media('>=desktop') {
			margin-bottom: 35px;
		}
	}

	.about-icons {
		display: flex;
		justify-content: center;
		margin: 0 -10px;

		@include media('>=tablet') {
			justify-content: start;
		}


		a {
			border: 2px solid white;
			height: 65px;
			width: 65px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $white;
			font-size: 30px;
			margin: 0 5px;
			transition: border .3s ease, color .3s ease;
			//position: relative;

			&:hover {
				text-decoration: none;
				color: $blue;
				border: 2px solid $blue;
			}

			i {
				//position: absolute;
				//top: 50%;
				//left: 50%;
				//transform: translate(-50%, -50%);
			}
		}

	}
}

.section-cite {
	p {
		font-size: 22px;
		font-weight: lighter;
		@include media('>=tablet') {
			font-size: 24px;
			line-height: 1.79;
		}
		@include media('>=desktop') {
			font-size: 28px;
		}
	}

	a {
		font-weight: bold;
	}
}

.section-contact {

	button {
		margin-bottom: 30px;
		width: 100%;
		padding: 20px 150px;
		@include media('>=tablet') {
			width: auto;
		}
	}

	.form-item {
		display: flex;
		flex-direction: column;

		input, textarea {
			padding: 15px;
			background-color: transparent;
			border: 2px solid $white;
			color: $white;

			&:focus {
				outline: none;
				box-shadow: 0 0 0 1px $form-element-focus-border-color;
			}
		}

		input,
		textarea,
		p {
			margin-bottom: 20px;
			@include media('>=tablet') {
				margin-bottom: 25px;
			}
			@include media('>=desktop') {
				margin-bottom: 30px;
			}
		}

		address {
			p {
				font-style: normal;
				margin-bottom: 0;
			}
		}

		textarea {
			resize: none;
		}

		label {
			margin-bottom: 5px;
			font-weight: bold;
			@include media('>=tablet') {
				margin-bottom: 10px;
			}
		}
	}

	.form-row {
		align-items: center;

		.contact-item-name {
			order: 1;
		}

		.contact-item-message {
			order: 2;
			@include media('>=tablet') {
				order: 3;
			}
		}

		.contact-item-address {
			order: 3;
			@include media('>=tablet') {
				order: 2;
			}
		}
	}
}