body {
	color: black;
	@include media('>=tablet') {
	}

	@include media('>=desktop') {
	}
}


.wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}


//DELETE
.box {
	background-color: $black;
	padding: 0 10px 10px;

	.warring {
		color: $green;
		text-align: center;
		margin-bottom: 30px;

		h2 {
			border-bottom: 2px solid $red;
			display: inline-block;
			position: relative;

			&::before {
				content: '';
				height: 2px;
				width: 200px;
				background-color: $red;
				position: absolute;
				bottom: -10px;
			}
		}
	}

	.logo-before {
		height: 100px;
		width: 100%;
		color: #fff;
		display: flex;
		justify-content: space-between;
		text-transform: uppercase;

		img {
			width: 100px;
		}

		a {
			text-decoration: none;
			color: darkolivegreen;
			transition: color .2s linear;

			&:hover {
				color: lighten(darkolivegreen, 10%);
			}
		}
	}
}


.before_start {
	padding: 0 5px;

	.row {
		.img {
			height: 70px;
			background-color: $green;
			margin-bottom: 20px;
		}
	}

}
.file_watcher {
	max-width: 100%;
	margin-bottom: 30px;

	h2 {
		background-color: antiquewhite;
		margin: 0 -5px 20px;
		padding: 5px 10px;
	}

	h4 {
		border-bottom: 1px solid $green;
		margin-bottom: 15px;
		padding-bottom: 3px;
	}

	p {
		word-break: break-all;
	}

	.small {
		padding: 40px 0 0 0;
		font-size: 13px;

		span {
			color: $green;
			text-transform: uppercase;
		}
	}
}
.what_to_do {
	padding-bottom: 20px;

	h4 {
		background-color: antiquewhite;
		margin: 0 -5px 20px;
		padding: 5px 10px;
	}

	ul {
		@extend %listreset;

		li {
			margin-bottom: 10px;

			&::before {
				content: '-';
				margin-right: 10px;
			}
		}
	}

	li ul {
		margin: 0;
		padding-left: 10px;

		li {
			margin-bottom: 2px;
		}
	}
}
//DELETE
