.btn {
	-webkit-transition: color .15s ease-in-out, border-color .15s ease-in-out, background-color .15s ease-in-out;
	-o-transition: color .15s ease-in-out, border-color .15s ease-in-out, background-color .15s ease-in-out;
	transition: color .15s ease-in-out, border-color .15s ease-in-out, background-color .15s ease-in-out;
	display: inline-block;
	vertical-align: middle;
	padding: 10px 40px;
	text-align: center;
	border: none;
	text-transform: uppercase;
	font-weight: bold;

	&:hover {
		text-decoration: none;
		outline: none;
	}

	// Styles for buttons without stroke option one

	&.btn-primary {
		background-color: $blue;
		color: #fff;
		border: 2px solid transparent;

		&:hover {
			background-color: $dark-gray;
			border-color: $white;
		}
	}

	// Styles for buttons with stroke option one

	&.btn-outline-primary {
		background-color: transparent;
		border: 2px solid $dark-gray;
		color: $dark-gray;

		&:hover {
			background-color: $blue;
			border-color: $white;
			color: $white;
		}
	}


	// Styles for a block button that stretches across the width of the parent

	&.btn-block {
		display: block;
		width: 100%;
	}
}