.service-card {
	margin-bottom: 40px;

	@include media('>=desktop') {
		margin-bottom: 0;
	}

	.section-img-box {
		margin-bottom: 15px;
		height: 48px;
		@include media('>=tablet') {
			margin-bottom: 25px;
		}

		img {
			max-height: 100%;
		}
	}


	h3 {
		font-size: 22px;
		margin-bottom: 10px;
		font-weight: 600;
		@include media('>=tablet') {
			font-size: $h3-font-size;
			margin-bottom: 18px;
		}
	}

	p {
		font-size: 12px;
		line-height: 1.5;
	}
}

.portfolio-card {
	position: relative;
	margin-bottom: 20px;
	@include media('>=tablet') {
		margin-bottom: 30px;
		&:nth-last-child(-n+2) {
			margin-bottom: 0;
		}
	}
	@include media('>=desktop') {
		margin-bottom: 30px;
		&:nth-last-child(-n+4) {
			margin-bottom: 0;
		}
	}

	img {
		display: block;
		width: 100%;
	}

	.hover-box {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: calc(100% - 30px);
		height: 100%;
		background-color: rgba($dark-gray, 0.8);
		opacity: 0;
		-webkit-transition: opacity .3s ease-in-out;
		-o-transition: opacity .3s ease-in-out;
		transition: opacity .3s ease-in-out;

		&:hover {
			opacity: 1;
		}
	}

	.plus {

		&::before,
		&::after {
			top: 50%;
			left: 50%;
			position: absolute;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			content: '';
			background-color: $white;
		}

		&::before {
			width: 30px;
			height: 2px;

			@include media('>=tablet') {
				width: 20px;
			}
		}

		&::after {
			width: 2px;
			height: 30px;

			@include media('>=tablet') {
				height: 20px;
			}
		}
	}
}