.menu {
	@extend %listreset;
	position: absolute;
	top: 70%;
	right: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s ease, visibility .3s ease, transform .3s ease-in-out, top .2s ease-out;
	background-color: $dark-gray;

	@include media('>=tablet') {
		opacity: 1;
		top: 100%;
		visibility: visible;
		display: flex;
		position: static;
		background-color: transparent;
	}

	li {
		a {
			color: $white;
			font-weight: bold;
			text-decoration: none;
			display: block;
			padding: 10px;
			background-color: $gray;
			margin-bottom: 1px;
			text-transform: uppercase;
			transition: color .3s linear, border-color .35s linear, background-color .3s ease-in-out;
			@include media('>=tablet') {
				padding: 10px 15px 8px;
				border: 2px solid transparent;
				background-color: transparent;
			}

			&:hover {
				background-color: $blue;
				@include media('>=tablet') {
					background-color: transparent;
					border: 2px solid $blue;
					color: $blue;
				}
			}
		}

		.active {
			color: $white;
			background-color: $blue;
			@include media('>=tablet') {
				background-color: transparent;
				border: 2px solid $blue;
				color: $blue;
			}
		}
	}
}

