// Переменные цветов

$gray: #515f67;
$dark-gray: #353f46;
$blue: #4bcaff;
$dark-blue: #0069d9;
$green: olive;
$dark-green: darkolivegreen;
$red: #f00;
$yellow: #ff0;

$black: #000;
$white: #fff;

$base-font-sans-serif: 'Segoe UI', sans-serif;
$base-font-serif: 'Segoe UI', serif;

// Основной размер и цвет текста, семейство шрифта и цвет фона
$base-text-color: $white;
$base-background-color: $white !default;
$font-size-base: 14px !default;
$line-height-base: 1.7 !default;
$base-font-family: $base-font-sans-serif !default;

$base-min-width: 320px;

// Цвет глобальной ссылки
$base-link-color: $blue;

// Формы
$form-element-border-color: $white;
$form-element-focus-border-color: $white;
$placeholder-color: darken($white, 30%);

// Переменные font-size для заголовков
$h1-font-size: 42px;
$h2-font-size: 30px;
$h3-font-size: 24px;
$h4-font-size: 21px;
$h5-font-size: 17px;
$h6-font-size: 15px;